.wrapper {
    background-color: black;
    box-shadow: 0rem 1rem 2rem 0.5rem rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
}

.container {
    color: #FAFAFA;
    background: black;

    height: 11vh;

    display: grid;
    grid-template-columns: 0.5fr 3fr repeat(3, 0.2fr);
    align-items: center;
    justify-items: center;
    
    width: 100%;
    max-width: 1150px;
    margin: auto;
}

.logo {
    display: flex;    
    align-items: center;
    cursor: default;
    user-select: none;
}

.logo h1 {
    margin: 1rem 0 0 1.5rem;    
}

.search {
    background-color: #FAFAFA;
    border-radius: 1rem;

    padding: 0 1rem;

    display: flex;
    align-items: center;
}

.search_bar {
    width: 40rem;
    padding: 0.7rem;    

    border-radius: 1rem;
    border: none;
    outline: none;
    opacity: 0.5;
}

.search_bar:not(:placeholder-shown) {
    opacity: 1;
}

#search_icon {
    color: #8A8A8A; 
    background: #FAFAFA;   
    cursor: pointer;
    margin-right: 1rem;
}

.user, .heart, .cart {
    transition: 0.2s all;
}

.user:hover, .heart:hover, .cart:hover {
    cursor: pointer;
}

.user:hover, .heart:hover, .cart:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        grid-template-columns: 0.5fr 3fr repeat(3, 0.2fr);
    }

    .search {
        width: 70%;
    }
}

@media (max-width: 670px) {
    .container {
        width: 95%;
        grid-template-columns: 0.5fr 3fr repeat(3, 0.3fr);
    }
    
    .search {
        width: 70%;
    }
}