.categories {
    width: 20rem;
    height: fit-content;

    background-color: #FFFFFF;

    list-style-type: none;

    padding: 2rem;

    border-radius: 0.5rem;
        
    font-weight: 100;    
}

.categories li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    transition: 0.1s all;
}

.categories li:hover, #arrow:hover {
    transform: scale(1.1);
}