.loadProducts {
    padding: 0.5rem 10rem;

    /* outline: none; */
    border: none;

    border-radius: 0.5rem;

    color: white;
    background-color: #1875f0;

    transition: 0.2s all;
}

.loadProducts:hover {
    transform: scale(1.05);
}