.main {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 2fr 0.3fr;
    grid-template-rows: 1fr 0.1fr min-content 2fr;
    
    grid-template-areas: '. . . .'
    '. aside filter .'
    '. aside products .'
    '. . loadProducts .';
}

.aside {
    grid-area: aside;
}

.filter {
    position: sticky;
    top: 0;
    
    grid-area: filter;
    
    z-index: 1;
}

.products {
    grid-area: products;
}

.loadProducts {
    grid-area: loadProducts;

    justify-self: center;
    align-self: center;

}