.filter {
    display: flex;
    flex-direction: row;

    background-color: #FAFAFA;

    border-radius: 0.5rem;

    padding-left: 2rem;

    font-weight: 100;
}

.filter a {
    margin: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 1.1rem;

    text-decoration: none;
}

.filter a + a {
    margin-left: 3rem;    
}

.filter_enable {
    color:  #1875f0;
    font-weight: bold;
    border-bottom: 2px solid blue;  
}

.filter_disable {
    color: black;
}

.filter_disable:hover {

    color:  #1875f0;
    transform: scale(1.1);
}