.filter {
    display: flex;
    flex-direction: row;

    background-color: #FAFAFA;

    border-radius: 0.5rem;

    padding-left: 2rem;

    font-weight: 100;
}

.filter a {
    padding-top: 1rem;
    padding-bottom: 1.1rem;

    text-decoration: none;
    color: black;    
}

.filter a + a {
    margin-left: 3rem;    
}

.filter a:first-child {
    color:  #1875f0;
    border-bottom: 2px solid blue;
}