.container {
    margin-top: 3rem;
    margin-left: 20rem;

    background-color: #FAFAFA;
    box-shadow: -7px -7px 17px rgba(255, 255, 255, 0.6),
    7px 7px 17px rgba(70, 70, 70, 0.12);

    width: 40rem;    
    height: 20rem;   

    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#notFound {
    margin: 3rem 0;
}

#BackHome {
    cursor: pointer;
    color:  #1875f0;

    transition: all .2s;
}

#BackHome:hover {
    opacity: 0.7;
}